.navbar{
  font-family: 'Helvetica Now', 'Arial', 'sans-serif'; 
}
.navbar-nav .nav-link:hover{
	color: orange;
}
img#carusel {
  height: 650px;

  
}
/* #root > div > a.carousel-control-prev{

}
.carousel-control-prev-icon{

} */
body {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
}
