body {
  background-color: #eee;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
}
.navbar {
  font-family: "Helvetica Now", "Arial", "sans-serif";
}
.navbar-nav .nav-link:hover {
  color: orange;
}
#root > div.row{
  margin-left: 0%;
  margin-right: 0%;
}
/* img#carusel {
  height: 650px;

  
} */
#root > div.row {
  background-color: rgb(227, 167, 167);
}

/* #root > div > a.carousel-control-prev{

}
.carousel-control-prev-icon{

} */
